# MongoDB Connection String
# เมื่อสมัคร MongoDB Atlas เสร็จแล้ว ให้ยกเลิกการ Comment (#) บรรทัดด้านล่างแล้วใส่ URL จริงของคุณ
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/el_db?retryWrites=true&w=majority